// Microsoft Visual C++ generated resource script.
//
#include "resource.h"
#include "afxres.h"

/////////////////////////////////////////////////////////////////////////////
// English (United States) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

/////////////////////////////////////////////////////////////////////////////
//
// Manifest
//

IDM_MANIFEST            RT_MANIFEST             "module.manifest"

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 2019,1,31,440
 PRODUCTVERSION 1,5,3,0
 FILEFLAGSMASK 0x17L
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0x0L
#endif
 FILEOS VOS__WINDOWS32
 FILETYPE VFT_DLL
 FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "FileDescription", "Legacy Of Kain Graphic Library"
            VALUE "FileVersion", "2019.01.31.440"
            VALUE "LegalCopyright", "© 2019 Verok (verokster@gmail.com)"
            VALUE "OriginalFilename", "ddraw.dll"
            VALUE "ProductVersion", "1.5.3"
            VALUE "ProductName", "KainGL"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_DIALOGBAR DIALOGEX 0, 0, 327, 176
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | DS_CENTERMOUSE | WS_POPUP | WS_CAPTION | WS_SYSMENU
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
	GROUPBOX "Display Settings",IDC_STATIC,6,6,174,108
	CONTROL "Select rendering driver", IDC_STATIC, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 12,18,162,8
	CONTROL "", IDC_COMBO_DRIVER, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP,12,29,162,51
	CONTROL "Select fullscreen resolution", IDC_STATIC, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP,12,48,162,8
	CONTROL "", IDC_COMBO_RESOLUTION, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP,12,59,162,120
	CONTROL "Run windowed", IDC_CHECK_WINDOWED, BUTTON, BS_AUTOCHECKBOX | WS_TABSTOP,12,78,60,15
	CONTROL "Keep aspect ratio", IDC_CHECK_ASPECT, BUTTON, BS_AUTOCHECKBOX | WS_TABSTOP,12,96,67,15
	CONTROL "Filter textures", IDC_CHECK_FILTER, BUTTON, BS_AUTOCHECKBOX | WS_TABSTOP,96,78,57,15
	CONTROL "Enable vSync", IDC_CHECK_VSYNC, BUTTON, BS_AUTOCHECKBOX | WS_TABSTOP,96,96,60,15
	
	GROUPBOX "Locale settings", IDC_STATIC,186,6,132,102
	CONTROL "Voices language", IDC_STATIC, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP,192,18,96,8
	CONTROL "", IDC_COMBO_LANG_VOICES, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP,192,29,119,120
	CONTROL "Interface language", IDC_STATIC, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP,192,48,96,8
	CONTROL "", IDC_COMBO_LANG_INTERFACE, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP,192,59,119,120
	CONTROL "Subtitles language", IDC_STATIC, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP,192,78,96,8
	CONTROL "", IDC_COMBO_LANG_SUBTITLES, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP,192,89,119,120
	
	GROUPBOX "Other",IDC_STATIC,6,120,174,48
	CONTROL "Smoother movies", IDC_CHECK_SMOOTH, BUTTON, BS_AUTOCHECKBOX | WS_TABSTOP,12,132,68,15
	CONTROL "Skip intro", IDC_CHECK_SKIP, BUTTON, BS_AUTOCHECKBOX | WS_TABSTOP,96,132,60,15
	CONTROL "Fixed camera",IDC_CHECK_STATIC_CAMERA,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,12,150,56,15
	CONTROL "3D sound",IDC_CHECK_3D_SOUND,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,96,150,56,15
	
	GROUPBOX "Frame rate",IDC_STATIC,186,114,132,32
	CONTROL "", IDC_EDIT_FPS_LIMIT, EDIT, ES_AUTOHSCROLL,192,126,48,14, WS_EX_CLIENTEDGE
	CONTROL "", IDC_EDIT_FPS_LIMIT_UPDOWND, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | UDS_HOTTRACK,0,0,0,0
	CONTROL "Show counter", IDC_CHECK_FPS_COUNTER, BUTTON, BS_AUTOCHECKBOX | WS_TABSTOP,248,126,60,15
	
	CONTROL "OK", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP,192,154,50,14
	CONTROL "Cancel", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP,251,154,66,14
END

/////////////////////////////////////////////////////////////////////////////
//
// RCDATA
//

IDR_VERTEX_NEAREST				RCDATA				".\\shaders\\nearest.vgl"
IDR_FRAGMENT_NEAREST			RCDATA				".\\shaders\\nearest.fgl"
IDR_VERTEX_CUBIC				RCDATA				".\\shaders\\cubic.vgl"
IDR_FRAGMENT_CUBIC				RCDATA				".\\shaders\\cubic.fgl"

#endif    // English (United States) resources
/////////////////////////////////////////////////////////////////////////////